/* font styles
----------------------------------------------------------------------------------------------------*/

// h1/logo font
@import url(http://fonts.googleapis.com/css?family=Give+You+Glory);

// all text / nav font
@import url(http://fonts.googleapis.com/css?family=Nunito:300,400,700);

/* end font styles */

/* minimal reset
----------------------------------------------------------------------------------------------------*/
html, body, h1, h2, h3, h4, h5, h6, a, img, p, table, tbody, tr, td, ul, ol, li, blockquote  {
	outline: none;
	border: 0 none;
	text-decoration: none;
	font-family: inherit;
	font-size: 100%;
	font-style: normal;
	font-weight: 300;
	line-height: 1;
	margin: 0;
	padding: 0;
	text-align: left;
}
/* end minimal reset */

/* HTML5 reset of sorts (mostly for IE)
----------------------------------------------------------------------------------------------------*/
article, aside, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
/* end HTML5 reset */

/* mixins / functions
----------------------------------------------------------------------------------------------------*/

// rounded corners
@mixin rounded($topLeft: 5px, $topRight: 5px, $bottomRight: 5px, $bottomLeft: 5px) {
	-moz-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
	-webkit-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
	border-radius: $topLeft $topRight $bottomRight $bottomLeft;
}

// IE box model
@mixin ieBoxModel() {
	-moz-box-sizing: border-box;  
	-webkit-box-sizing: border-box;  
	box-sizing: border-box;
}

/* end HTML5 reset */

/* page styles
----------------------------------------------------------------------------------------------------*/

/* generic helper classes */

.center {
	text-align: center;
	text-indent: 0 !important;
}
.off {
	display: none;
}
.hide {
	visibility: hidden;
}
.block {
	display: block !important;
}
.left {
	float: left;
}
.right {
	float: right;
}

/* /end generic helper classes */

// using body in lieu of page container: http://camendesign.com/code/developpeurs_sans_frontieres
body {
	margin: 50px auto;
	width: 840px;
	background: #45A09E url(http://lovefromryan.com/assets/images/noise.png) repeat 0 0;
	color: #111;
	line-height: 1.49em;
	&, p {
		font-family: 'Nunito', Verdana, sans-serif;
		font-size: 14px;
		font-weight: 300;
	}
	p {
		margin-bottom: 1em;
		line-height: 1.5em;
	}
	a {
		color: #45A09E;		
	}
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0.5em;
		font-weight: normal;
	}
	h1 {
		position: relative;
		margin-bottom: 0;
		font-size: 8em;
		font-family: 'Give You Glory', cursive;		
		cursor: pointer;
		a, a:hover {
			color: #fff;
			text-decoration: none;
			text-shadow: 1px 1px 2px #F8D7B6, -1px 1px 1px #F8D7B6, 4px 5px 10px #45A09E;			
		}
	}
	h2 {
		font-size: 3em;
		background: transparent url(http://lovefromryan.com/assets/images/h2_bottom_bg.png) no-repeat 0 100%;
		padding-bottom: 0.5em;
	}
	h3 {
		font-size: 2.0em;
		code {
			font-size: 1em;
		}
	}
	h4 {
		font-size: 1.2em;
	}
	h5 {
		font-size: 1.1em;
	}
	h6 {
		font-size: 0.85em;
	}
	small {
		font-size: smaller;
	}
	sup {
		font-weight: bolder;
	}
	ul {
		list-style: disc;
		list-style-position: inside;
		margin-bottom: 1.5em;
		li {
			margin-bottom: 1em;
		}
	}	
	a, a:active, a:focus {
		text-decoration: none;
		cursor: pointer;
	}
	header {
		padding: 0 35px;
	}	
	.outer {
		background: #D72720 url(http://lovefromryan.com/assets/images/noise.png) repeat 0 0;
		padding: 5px;
		@include rounded();
		-moz-box-shadow: 0 1px 15px rgba(255, 255, 255, 0.75);
		-webkit-box-shadow: 0 1px 15px rgba(255, 255, 255, 0.75);
		box-shadow: 0 1px 15px rgba(255, 255, 255, 0.75);
		.inner {
			padding: 20px 10px;			
			background: #F8D7B6 url(http://lovefromryan.com/assets/images/noise.png) repeat 0 0;
			@include rounded(25px, 5px, 25px, 5px);
			.contentContainer {
				padding: 0 20px 20px;
				background: #fff;
				background: rgba(255, 255, 255, 0.95);
				@include rounded();							
				table {
					margin-bottom: 1.5em;
					thead th {
						font-weight: bold;
					}
					tbody th {
						font-weight: normal;
					}
				}
				pre {
					overflow: scroll;					
				}
				.monospace {
					font-family: monospace, sans-serif;
				}
				.iPhone {
					background: #fff url(http://lovefromryan.com/assets/images/iphone_mask_white.png) no-repeat;
					height: 713px;
				}
			}
		}
	}
	footer {
		padding: 0 35px;
		margin-top: 15px;
		font-size: 0.9em;
		a {
			color: #fff;
			&:hover {
				color: #fff;
			}
		}
		.twitter {			
			position: relative;
			top: -2px;
			padding: 1px 7px 1px 5px;
			&:hover {				
				text-decoration: none;
				background: #D72720 url(http://lovefromryan.com/assets/images/noise.png) repeat 0 0;
				-webkit-box-shadow: 0 0 1px #D72720, 0 0 7px rgba(255, 255, 255, 0.75);
				-moz-box-shadow: 0 0 1px #D72720, 0 0 7px rgba(255, 255, 255, 0.75);				
				box-shadow: 0 0 1px #D72720, 0 0 7px rgba(255, 255, 255, 0.75);
				@include rounded(10px, 10px, 10px, 10px);
			}			
		}		
		.span2.offset4 {
			text-align: right;
		}
	}
}
#nav {
	overflow: auto;
	.nav-tabs {
		float: right;
		border-top: none;
		margin-bottom: 0;
		margin-right: 2%;		
		a {
			background-color: #eee;						
			border-color: #ddd #eee;
			margin-right: 3px;
			margin-bottom: 30px;
			text-shadow: -1px -1px 0 #fff;
			font-weight: normal;
			&:hover {
				border-color: #ddd;
				padding-top: 12px;
				margin-bottom: 27px;
				color: #45A09E;
			}
		}
		.active a {
			border-color: transparent #eee #eee;
			background: #F8D7B6 url(http://lovefromryan.com/assets/images/noise.png) repeat 0 0;
			color: #fff;
			text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
			&:hover {								
				padding-top: 9px;
				margin-bottom: 30px;
			}
		}
	}					
}
#heyGirlCarousel {
	width: 320px;
	height: 480px;
	background-color: #000;
	position: relative;
	top: 118px;
	left: 24px;
	.label {
		position: absolute;
		font-size: 0.8em;
	}
	.carousel-caption {						
		background: none;
		p {
			font-family: arial, sans-serif;
			font-weight: bold;
			font-size: 1.9em;
			line-height: 1.2em;
			text-shadow: -1px -1px 0 #222, 1px -1px 0 #222, 2px 2px 2px #222, -1px 1px 0 #222;
		}						
	}	
	.item.one {
		.label {
			top: 270px;
			left: 150px;
		}
		.carousel-caption {
			top: 305px;
			padding: 0 50px 0 100px;
		}	
	}
	.item.two {
		.label {
			top: 370px;
			left: 150px;
		}
		.carousel-caption {
			top: 30px;
			padding: 0 40px;
		}	
	}
	.item.three {
		.label {
			top: 360px;
			left: 140px;
		}
		.carousel-caption {
			top: 390px;
			padding: 0 40px 0 20px;
		}	
	}
	.item.four {
		.label {
			top: 10px;
			left: 230px;
		}
		.carousel-caption {
			top: 10px;
			padding: 0 250px 0 10px;
		}	
	}
	.item.five {
		.label {
			top: 380px;
			left: 205px;
		}
		.carousel-caption {
			top: 410px;
			padding: 0 80px 0 50px;	
		}	
	}
	.item.six {
		.label {
			top: 290px;
			left: 195px;
		}
		.carousel-caption {
			top: 310px;
			padding: 0 10px 0 170px;
		}	
	}
	.item.seven {
		.label {
			top: 170px;
			left: 40px;
		}
		.carousel-caption {
			top: 10px;
			padding: 0 20px 0 240px;
		}	
	}
	.item.eight {
		.label {
			top: 320px;
			left: 30px;
		}
		.carousel-caption {
			top: 345px;
			padding: 0 120px 0 20px;
		}	
	}
	.item.nine {
		.label {
			top: 370px;
			left: 100px;
		}
		.carousel-caption {
			top: 395px;
			padding: 0 60px 0 80px;
		}	
	}
	.item.ten {
		.label {
			top: 370px;
			left: 240px;
		}
		.carousel-caption {
			top: 405px;
			padding: 0 120px 0 30px;
		}	
	}	
}

/*
 * end page styles
 */

/* Styles for smaller screens, aka handhelds
----------------------------------------------------------------------------------------------------*/
@media screen and (max-device-width: 480px) {
	
}