/* font styles
----------------------------------------------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Give+You+Glory);
@import url(http://fonts.googleapis.com/css?family=Nunito:300,400,700);
/* end font styles */
/* minimal reset
----------------------------------------------------------------------------------------------------*/
/* line 14, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
html, body, h1, h2, h3, h4, h5, h6, a, img, p, table, tbody, tr, td, ul, ol, li, blockquote {
  outline: none;
  border: 0 none;
  text-decoration: none;
  font-family: inherit;
  font-size: 100%;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align: left; }

/* end minimal reset */
/* HTML5 reset of sorts (mostly for IE)
----------------------------------------------------------------------------------------------------*/
/* line 31, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
article, aside, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* end HTML5 reset */
/* mixins / functions
----------------------------------------------------------------------------------------------------*/
/* end HTML5 reset */
/* page styles
----------------------------------------------------------------------------------------------------*/
/* generic helper classes */
/* line 60, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
.center {
  text-align: center;
  text-indent: 0 !important; }

/* line 64, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
.off {
  display: none; }

/* line 67, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
.hide {
  visibility: hidden; }

/* line 70, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
.block {
  display: block !important; }

/* line 73, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
.left {
  float: left; }

/* line 76, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
.right {
  float: right; }

/* /end generic helper classes */
/* line 83, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
body {
  margin: 50px auto;
  width: 840px;
  background: #45a09e url(http://lovefromryan.com/assets/images/noise.png) repeat 0 0;
  color: #111;
  line-height: 1.49em; }
  /* line 89, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  body, body p {
    font-family: 'Nunito', Verdana, sans-serif;
    font-size: 14px;
    font-weight: 300; }
  /* line 94, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  body p {
    margin-bottom: 1em;
    line-height: 1.5em; }
  /* line 98, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  body a {
    color: #45A09E; }
  /* line 101, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  body h1, body h2, body h3, body h4, body h5, body h6 {
    margin-bottom: 0.5em;
    font-weight: normal; }
  /* line 105, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  body h1 {
    position: relative;
    margin-bottom: 0;
    font-size: 8em;
    font-family: 'Give You Glory', cursive;
    cursor: pointer; }
    /* line 111, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
    body h1 a, body h1 a:hover {
      color: #fff;
      text-decoration: none;
      text-shadow: 1px 1px 2px #f8d7b6, -1px 1px 1px #f8d7b6, 4px 5px 10px #45a09e; }
  /* line 117, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  body h2 {
    font-size: 3em;
    background: transparent url(http://lovefromryan.com/assets/images/h2_bottom_bg.png) no-repeat 0 100%;
    padding-bottom: 0.5em; }
  /* line 122, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  body h3 {
    font-size: 2.0em; }
    /* line 124, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
    body h3 code {
      font-size: 1em; }
  /* line 128, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  body h4 {
    font-size: 1.2em; }
  /* line 131, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  body h5 {
    font-size: 1.1em; }
  /* line 134, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  body h6 {
    font-size: 0.85em; }
  /* line 137, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  body small {
    font-size: smaller; }
  /* line 140, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  body sup {
    font-weight: bolder; }
  /* line 143, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  body ul {
    list-style: disc;
    list-style-position: inside;
    margin-bottom: 1.5em; }
    /* line 147, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
    body ul li {
      margin-bottom: 1em; }
  /* line 151, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  body a, body a:active, body a:focus {
    text-decoration: none;
    cursor: pointer; }
  /* line 155, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  body header {
    padding: 0 35px; }
  /* line 158, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  body .outer {
    background: #d72720 url(http://lovefromryan.com/assets/images/noise.png) repeat 0 0;
    padding: 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 0 1px 15px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0 1px 15px rgba(255, 255, 255, 0.75);
    box-shadow: 0 1px 15px rgba(255, 255, 255, 0.75); }
    /* line 165, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
    body .outer .inner {
      padding: 20px 10px;
      background: #f8d7b6 url(http://lovefromryan.com/assets/images/noise.png) repeat 0 0;
      -moz-border-radius: 25px 5px 25px 5px;
      -webkit-border-radius: 25px 5px 25px 5px;
      border-radius: 25px 5px 25px 5px; }
      /* line 169, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
      body .outer .inner .contentContainer {
        padding: 0 20px 20px;
        background: #fff;
        background: rgba(255, 255, 255, 0.95);
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px; }
        /* line 174, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
        body .outer .inner .contentContainer table {
          margin-bottom: 1.5em; }
          /* line 176, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
          body .outer .inner .contentContainer table thead th {
            font-weight: bold; }
          /* line 179, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
          body .outer .inner .contentContainer table tbody th {
            font-weight: normal; }
        /* line 183, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
        body .outer .inner .contentContainer pre {
          overflow: scroll; }
        /* line 186, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
        body .outer .inner .contentContainer .monospace {
          font-family: monospace, sans-serif; }
        /* line 189, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
        body .outer .inner .contentContainer .iPhone {
          background: white url(http://lovefromryan.com/assets/images/iphone_mask_white.png) no-repeat;
          height: 713px; }
  /* line 196, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  body footer {
    padding: 0 35px;
    margin-top: 15px;
    font-size: 0.9em; }
    /* line 200, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
    body footer a {
      color: #fff; }
      /* line 202, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
      body footer a:hover {
        color: #fff; }
    /* line 206, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
    body footer .twitter {
      position: relative;
      top: -2px;
      padding: 1px 7px 1px 5px; }
      /* line 210, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
      body footer .twitter:hover {
        text-decoration: none;
        background: #d72720 url(http://lovefromryan.com/assets/images/noise.png) repeat 0 0;
        -webkit-box-shadow: 0 0 1px #d72720, 0 0 7px rgba(255, 255, 255, 0.75);
        -moz-box-shadow: 0 0 1px #d72720, 0 0 7px rgba(255, 255, 255, 0.75);
        box-shadow: 0 0 1px #d72720, 0 0 7px rgba(255, 255, 255, 0.75);
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px; }
    /* line 219, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
    body footer .span2.offset4 {
      text-align: right; }

/* line 224, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
#nav {
  overflow: auto; }
  /* line 226, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  #nav .nav-tabs {
    float: right;
    border-top: none;
    margin-bottom: 0;
    margin-right: 2%; }
    /* line 231, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
    #nav .nav-tabs a {
      background-color: #eee;
      border-color: #ddd #eee;
      margin-right: 3px;
      margin-bottom: 30px;
      text-shadow: -1px -1px 0 white;
      font-weight: normal; }
      /* line 238, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
      #nav .nav-tabs a:hover {
        border-color: #ddd;
        padding-top: 12px;
        margin-bottom: 27px;
        color: #45A09E; }
    /* line 245, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
    #nav .nav-tabs .active a {
      border-color: transparent #eee #eee;
      background: #f8d7b6 url(http://lovefromryan.com/assets/images/noise.png) repeat 0 0;
      color: #fff;
      text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3); }
      /* line 250, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
      #nav .nav-tabs .active a:hover {
        padding-top: 9px;
        margin-bottom: 30px; }

/* line 257, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
#heyGirlCarousel {
  width: 320px;
  height: 480px;
  background-color: #000;
  position: relative;
  top: 118px;
  left: 24px; }
  /* line 264, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  #heyGirlCarousel .label {
    position: absolute;
    font-size: 0.8em; }
  /* line 268, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  #heyGirlCarousel .carousel-caption {
    background: none; }
    /* line 270, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
    #heyGirlCarousel .carousel-caption p {
      font-family: arial, sans-serif;
      font-weight: bold;
      font-size: 1.9em;
      line-height: 1.2em;
      text-shadow: -1px -1px 0 #222222, 1px -1px 0 #222222, 2px 2px 2px #222222, -1px 1px 0 #222222; }
  /* line 279, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  #heyGirlCarousel .item.one .label {
    top: 270px;
    left: 150px; }
  /* line 283, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  #heyGirlCarousel .item.one .carousel-caption {
    top: 305px;
    padding: 0 50px 0 100px; }
  /* line 289, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  #heyGirlCarousel .item.two .label {
    top: 370px;
    left: 150px; }
  /* line 293, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  #heyGirlCarousel .item.two .carousel-caption {
    top: 30px;
    padding: 0 40px; }
  /* line 299, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  #heyGirlCarousel .item.three .label {
    top: 360px;
    left: 140px; }
  /* line 303, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  #heyGirlCarousel .item.three .carousel-caption {
    top: 390px;
    padding: 0 40px 0 20px; }
  /* line 309, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  #heyGirlCarousel .item.four .label {
    top: 10px;
    left: 230px; }
  /* line 313, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  #heyGirlCarousel .item.four .carousel-caption {
    top: 10px;
    padding: 0 250px 0 10px; }
  /* line 319, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  #heyGirlCarousel .item.five .label {
    top: 380px;
    left: 205px; }
  /* line 323, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  #heyGirlCarousel .item.five .carousel-caption {
    top: 410px;
    padding: 0 80px 0 50px; }
  /* line 329, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  #heyGirlCarousel .item.six .label {
    top: 290px;
    left: 195px; }
  /* line 333, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  #heyGirlCarousel .item.six .carousel-caption {
    top: 310px;
    padding: 0 10px 0 170px; }
  /* line 339, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  #heyGirlCarousel .item.seven .label {
    top: 170px;
    left: 40px; }
  /* line 343, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  #heyGirlCarousel .item.seven .carousel-caption {
    top: 10px;
    padding: 0 20px 0 240px; }
  /* line 349, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  #heyGirlCarousel .item.eight .label {
    top: 320px;
    left: 30px; }
  /* line 353, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  #heyGirlCarousel .item.eight .carousel-caption {
    top: 345px;
    padding: 0 120px 0 20px; }
  /* line 359, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  #heyGirlCarousel .item.nine .label {
    top: 370px;
    left: 100px; }
  /* line 363, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  #heyGirlCarousel .item.nine .carousel-caption {
    top: 395px;
    padding: 0 60px 0 80px; }
  /* line 369, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  #heyGirlCarousel .item.ten .label {
    top: 370px;
    left: 240px; }
  /* line 373, /Volumes/all/lovefromryan.com/assets/css/sass/style.scss */
  #heyGirlCarousel .item.ten .carousel-caption {
    top: 405px;
    padding: 0 120px 0 30px; }

/*
 * end page styles
 */
/* Styles for smaller screens, aka handhelds
----------------------------------------------------------------------------------------------------*/
